/* Feedback block */

/* .feedback {
    margin: 0 auto ;
} */

.feedback_section {
    display: flex;
    justify-content: center;
    gap: 55px; 
    margin-top: 150px;
}

.feedback__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(14, 13, 13);
    text-align: center;
}

.feedback__info__title_left1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 63.25px;
    color: #444444;
}

.feedback__info__desc_l {
    margin-top: 24px;
    width: 420px;
    line-height: 27px;
    color: #676767;
    width: 532px;
    font-size: 20px;
}

.form_photo {
    margin-top: 10px;
}

.feedback__left_link {
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    color: #444444;
    border: 1px solid #444444;
    border-radius: 249px;
    padding: 6px 25px;
    margin-top: 14px;
    cursor: pointer;
}

.feedback__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 125px 50px;

    border-radius: 70px;

    background: linear-gradient(180deg, #5B8FA5 0%, #75AABE 100%);
    color: rgb(255, 255, 255);
    box-shadow: 1px 17px 160px rgba(0, 0, 0, 0.15);

    text-align: center;
}

.feedback__info__title {
    font-size: 55px;
    font-weight: 500;
    line-height: 63.25px;
}

.feedback__info__title_2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 63.25px;
}

.feedback__info__desc {
    margin-top: 50px;
    width: 284px;
    line-height: 24px;
}

.feedback__contacts {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.feedback_link {
    text-decoration: none;
    color: rgb(245, 245, 245);
}
